body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir", "Times", "Arial";
}

.square{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 15%;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
}

#colorString{
    font-size: 200%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight:normal;
    text-transform: uppercase;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}
#message{
    color: black;
    display: inline-block;
    width: 20%;
}

.selected {
    background-color: steelblue;
    color: white;
}
button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 600;
    font-size: inherit;
    color: steelblue;
    letter-spacing: 1px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
}
button:hover{
    color: white;
    background-color: steelblue;
}
